.ReimbursementApply{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #F0F2F5;
    background: white;
    h3{
        line-height: 50px;
        border-bottom: 1px solid #F0F2F5;
        font-weight: bold;
        font-size: 12px;
        text-indent: 2em;
    }
}